:root {
  --color-bg: #2C2C32;
  --color-bg-hover: #0f7dc6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: var(--color-bg);
  padding: 2rem 0;
  text-align: center;
}

header>a {
  color: white;
  text-decoration: none;
  padding: 0 1rem;
}

header>a:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
}

.container {
  max-width: 900px;
  padding: 2rem 0;
  margin: 0 auto;
}




.App {
  background-color: white;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding-top: 30px;
  padding-bottom: 30px;
  /* min-width: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  position: relative; */
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.image  {
  display: flex;
  justify-content: center;
  height: 8em;
  margin-bottom: 1em;
  img {
    height: 100%;
    width: 100%;
  }

}

table {
  margin-left: auto;
  margin-right: auto;
}










.form {
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  background-color: white;
  border-radius: 5px;
  width: 550px;
  margin: 20px auto;
  padding: 20px;
  /* height: 600px; */
}

.form-body {
  text-align: left;
  padding: 20px 10px;
}

.form-body>* {
  padding: 5px;
}

.form__label {
  width: 40%;
}

.form_input {
  width: 60%;
}

.footer {
  text-align: center;
}